{% extends 'core/base.html' %}
{% load static %}
{% block title %} Detalhes da Fatura {% endblock %}

{% block body %}
<header class="member-header pt-4 pb-2">
  <div class="container px-4">
    <h1 class="title is-size-2-desktop is-size-2-tablet is-size-3-mobile mb-5">
      Detalhes da Fatura
    </h1>
  </div>
</header>

<div class="container pb-6 px-4">
  <div class="member-content content is-size-5-desktop is-size-5-tablet is-size-6-mobile">
    <div class="member-details">
      <div class="member-details__detail">
        <span>Valor</span>
        <p>{{ object.value }}</p>
      </div>
      <div class="member-details__detail">
        <span>Cliente</span>
        <a href="{% url 'finance:company_details' object.client_id %}">
          {{ object.client.fantasy_name }}
        </a>
      </div>
      <div class="member-details__detail">
        <span>Contrato</span>
        <a href="{% url 'finance:contract_details' object.contract_id %}">
          {{ object.contract }}
        </a>
      </div>
      <div class="member-details__detail">
        <span>Status</span>
        <p>{{ object.get_status_display }}</p>
      </div>
        {% if object.payment_date %}
          <div class="member-details__detail">
            <span>Data do pagamento</span>
            <p>{{ object.payment_date|date:"d/M/Y" }}</p>
          </div>
        {% endif %}
      <div class="member-details__detail">
        <span>Data de Vencimento</span>
        <p>{{ object.due_date|date:"d/M/Y" }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}